@model Assignment2.Models.EmployeeViewModel

@foreach (var key in Model.Employees.Keys)
{
    <tr>
        <td>
            @Html.TextBoxFor(x => Model.Employees[key].Name, new { @required = "required" })
        </td>
        <td>
            @Html.TextBoxFor(x => Model.Employees[key].Email, new { @required = "required" })
        </td>
        <td>
            @Html.TextBoxFor(x => Model.Employees[key].Phone, new { @required = "required" })
        </td>
        <td>
            @Html.TextBoxFor(x => Model.Employees[key].Address, new { @required = "required" })
        </td>
        <td>
            @Html.TextBoxFor(x => Model.Employees[key].DOB, new { @required = "required" })
        </td>
        <td>
            <input type="button" value="X" class="deleteRow" />
        </td>
    </tr>
}


